/**
* cookie.css
**/

#cookie-box {
	height:auto;
}

.cookie-box {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-align:center;
	display:inline-block;
	z-index: 10;
	text-decoration:none;
	padding:10px 10px 10px 10px;
	position:fixed;
	top:0px;
	left:0;
	width:100%;
	box-sizing: border-box;
}

.cookie-box a {
	display: block;
	text-align: center;
}

.ip-list {
	height: auto;
	max-height: 200px;
	width: 120px;
	border: 1px solid #ccc;
	overflow-y: auto;
}
